@import "tailwindcss";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
	/* @apply bg-brand-bg; */
}

@theme {
	--font-landing: "Open Sans", sans-serif;
	--font-title: "Playfair Display", sans-serif;

	--text-h1: 48px;
	--text-h2: 30px;
	--text-h3: 28px;
	--text-h4: 24px;
	--text-h5: 20px;
	--text-h6: 16px;

	/* 🎨 Paleta de colores */
	--color-primary: #07484a;
	--color-primary-light: #70908b;
	--color-primary-ultralight: #E9F2EF;
	--color-secondary: #4b351f;

	--color-bg-light: #FAFAFA;
	--color-bg-muted: #F5F5F5;
	--color-bg-dark: #C4C4C4;

	/* 🎨 Colores de estado */
	--color-accent: #d4a373;
	--color-accent-dark: #8c5a2f;

	--color-success: #3a7d3a;
	--color-success-light: #d9f2e6;

	--color-warning: #e9a178;
	--color-warning-light: #ffe6d5;

	--color-error: #a23e48;
	--color-error-light: #fbd5d5;

	--color-info: #4a6fa5;
	--color-info-light: #d6e4f0;

	--spacing-xs: 4px;
	--spacing-sm: 12px;
	--spacing-md: 20px;
	--spacing-lg: 32px;
	--spacing-xl: 49px;
	--spacing-2xl: 60px;
	--spacing-3xl: 90px;
}

h1 {
	@apply text-h1/[125%] font-bold;
}

h2 {
	@apply text-h2/[125%] font-bold;
}

h3 {
	@apply text-h3/[125%] font-bold;
}

h4 {
	@apply text-h4/[125%] font-bold;
}

h5 {
	@apply text-h5/[125%] font-bold;
}

h6 {
	@apply text-h6/[125%] font-bold;
}
